
@media (max-width: 425px){ 
    input,textarea{text-align: center;}
    #page-home{
        #flight-lists{
            padding: 25px;

            .item{
                display: block;
                text-align: center;
    
                .img-holder{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
                }
                
            }
        } 
    } 
}

